.escolha-bikes {
  display: flex;
  gap: 40px;
  max-width: 1400px;
  margin: 40px auto 0px auto;
  padding: 20px;
  overflow-x: auto;
}

.escolha-bikes li {
  min-width: 250px;
  flex: 1;
  padding: 20px 0px;
}

.escolha-bikes-nome {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.escolha-bikes-nome::before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  height: 6px;
  width: 15px;
  background: var(--p1);
  transition: 0.3s;
}

.escolha-bikes a:hover .escolha-bikes-nome::before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  height: 6px;
  width: 30px;
  background: var(--p1);
  transition: 0.3s;
}

.escolha-bikes span {
  display: inline-block;
  margin-top: 8px;
  margin-left: 25px;
}

.escolha {
  margin-top: 120px;
  margin-bottom: 120px;
}

@media screen and (max-width: 500px) {
  .escolha-bikes {
    overflow-y: scroll;
    gap: 10px;
  }
}
