.header-bg {
  background: var(--c12);
}

.header {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  padding: 34px 0;
}

.header-menu a {
  color: var(--w);
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: var(--p1);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: var(--p1);
  margin-top: 4px;
  transition: 0.3s;
}

.header-menu a:visited::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: var(--p1);
  margin-top: 4px;
  transition: 0.3s;
}

@media screen and (max-width: 900px) {
  .header-menu {
    gap: 10px;
    padding: 20px 0px;
  }
  .header-menu a {
    background-color: #111;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }

  .header-menu a:hover::after {
    display: none;
  }
  @media screen and (max-width: 600px) {
    .header-menu {
      gap: 10px;
      padding: 0px;
    }
    .header {
      padding: 20px;
      justify-content: center;
    }
  }
}
